{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BuyOrRent</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'buyorrent/styles.css' %}">

        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="">
            <nav class="navbar justify-content-center navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'index' %}">Buy or Rent</a>
                <div>
                    <ul class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'input' %}">Input</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_profile' %}"><strong>{{ user.username }}</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>
